:root {
 --cor-fundo-principal: #10111a; 
 --cor-fundo-cartao: #1e1f2b; 
 --cor-borda-cartao: rgba(189, 195, 199, 0.2); 
 --cor-texto-principal: #f0f0f5; 
 --cor-texto-secundario: #a0a0b2; 
 --fonte-principal: 'Inter'; 
}

body {
 margin: 0;
 padding: 0;
 font-family: var(--fonte-principal);
 background-color: var(--cor-fundo-principal);
 color: var(--cor-texto-principal);
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 padding-bottom: 80px; 
}
