<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Otimização de Corte - Seleção de Itens</title>
    <link rel="stylesheet" href="/static/css/Css_Global/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <h1><span>✂️<span></span> Itens para Otimização de Corte</h1>
    <form action="/input-plates" method="post">
        <input type="hidden" name="data" id="data">
        <table id="items-table">
            <thead class="itemsHeaderTitle">
                <tr>
                    <th>Considerar no cálculo</th>
                    <th>Tipo</th>
                    <th>PA</th>
                    <th>Descrição</th>
                    <th>Demanda</th>
                    <th>Estoque</th>
                    <th>Estoque Máximo</th>
                    <th>Estoque Mínimo</th>
                    <th>Disponível</th>
                    <th>Desenvolvimento</th>
                    <th>Comprimento</th>
                    <th>Espessura</th>
                    <th>Planejado</th>
                    <th>Variação de espessura</th>
                </tr>
            </thead>

            <tbody class="itemsContentValue">
                {% for row in data %}
                <tr>
                    <td><input type="checkbox" name="considerar" {% if row['Considerar no cálculo'] %}checked{% endif %}></td>
                    <td>{{ row.MrpTipo }}</td>
                    <td>{{ row.ItemCode }}</td>
                    <td><a href="{{ url_for('optimize', item_code=row.ItemCode) }}">{{ row.ItemName }}</a></td>
                    <td>{{ row.MRP }}</td>
                    <td>{{ row.Estoque }}</td>
                    <td>{{ row.EstoqueMax }}</td>
                    <td>{{ row.EstoqueMin }}</td>
                    <td>{{ row.DispPkl }}</td>
                    <td>{{ row.Desenvolvimento }}</td>
                    <td>{{ row.Comprimento }}</td>
                    <td>{{ row.Espessura }}</td>
                    <td>{{ row.Planejado }}</td>
                    <td><input type="number" name="variacao" value="{{ row['Variação de espessura'] }}" min="0"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/templates/login.html">click</a>
        
        <button type="submit" id="gerar-calculo"><span>📈</span> Gerar Cálculo</button>
    </form>

    <script>
        document.getElementById('gerar-calculo').addEventListener('click', function(e) {
            e.preventDefault();
            const table = document.getElementById('items-table');
            const headers = Array.from(table.querySelectorAll('thead th')).map(th => th.textContent);
            const data = [];
            for (let i = 0; i < table.rows.length -1; i++) {
                const row = table.rows[i+1];
                const rowData = {};
                rowData['Considerar no cálculo'] = row.cells[0].children[0].checked;
                rowData['MrpTipo'] = row.cells[1].textContent;
                rowData['ItemCode'] = row.cells[2].textContent;
                rowData['ItemName'] = row.cells[3].textContent;
                rowData['MRP'] = parseFloat(row.cells[4].textContent);
                rowData['Estoque'] = parseFloat(row.cells[5].textContent);
                rowData['EstoqueMax'] = parseFloat(row.cells[6].textContent);
                rowData['EstoqueMin'] = parseFloat(row.cells[7].textContent);
                rowData['DispPkl'] = parseFloat(row.cells[8].textContent);
                rowData['Desenvolvimento'] = parseFloat(row.cells[9].textContent);
                rowData['Comprimento'] = parseFloat(row.cells[10].textContent);
                rowData['Espessura'] = parseFloat(row.cells[11].textContent);
                rowData['Planejado'] = parseFloat(row.cells[12].textContent);
                rowData['Variação de espessura'] = parseInt(row.cells[13].children[0].value, 10);
                data.push(rowData);
            }
            document.getElementById('data').value = JSON.stringify(data);
            document.querySelector('form').submit();
        });

        window.addEventListener('DOMContentLoaded', () => {
            const tableColor = document.getElementById('items-table');
            const rows = tableColor.querySelectorAll('tbody tr');

            rows.forEach((row, index) => {
                row.style.backgroundColor = index % 2 === 0 ? 'rgb(54, 54, 54)' : 'rgb(0, 0, 0)';

            })
        })
    </script>
</body>
</html>